body{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-between;
    height:96vh;
}

nav{
    width: 96vw;
    display:flex;
    justify-content: space-between;
}
#google{
    display:flex;
    justify-content: center;
}
#search{
    display:flex;
    justify-content: center;
}
#buttons{
    display:flex;
    justify-content: center;
}
footer{
    width:96vw;
    display:flex;
    justify-content: space-between;
}